body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #53BF9D, #54BAB9);
}

.content {
  max-width: 1200px
}

.carousel {

  margin-top: 50px;


}
.grid {

margin-top: 40px;

}


/* блок описания кросовок */
.Text_discription {
  background-color: rgb(186, 250, 83);
  border-radius: 50px;
  padding: 15px;
  margin: -8px;
  font-size: 14px;
}
/* цена в card ах */
.price {
  text-transform: uppercase;
  background-color: #fcf5aa;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.4);

}

/* цена в расширеном описании */
.prince_span {
  text-transform: uppercase;
 
}


/* блок поиска */
.Find {

  padding: 15px;
  background-color: #fff589;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.5);
  border-radius: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;

}

input {
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
}

/* .like {
  background-color: #cfcfcf;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.like:hover {

  background-color: #d71111;
} */
/* разевернутое описание ккросовок, которое нужно засунуть на страницу */

.addFavorite {
  border-style: none ;
  border-radius: 10px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.0);
}


.addToBasket {
  border-radius: 20px;
  padding: 7px;
  background-color: rgb(255, 225, 0);
}


.contacts {
width: 1200px;
hight: 1000px;
border-top: #000000;
margin-top: 30px;

}




